body
{
    background-color: whitesmoke !important;
}
.topnav
{
    height: 50px;
    width: 100% ;
    background-color: white;
    border-bottom: 1px solid lightgray;
    /* position: fixed; */
}
.logo
{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-left: 35px;
}
.search
{
    margin-top: 4px;
}
.topnav img
{
    height: 40px;
    width: 40px;
    margin-left: 4px;
}
.topnav p
{
    margin-left: 0;
}
.topnav a
{
    color: black;
}
::placeholder
{
    text-align: center;
}
.postb
{
    margin-left: 160px;
    width: 200px;
}

.vis
{
    display: none;
}

.aaa{
    font-size: 20px;
}
.data
{
    background-color: white;
    border: 1px solid lightgray;
}

.username p
{
   font-size: 20px;
   margin-top: 20px;
   margin-bottom: 5px;
   font-family: sans-serif;
}
.likes p
{
    font-size: 20px;
    font-family: sans-serif;
}
.likes
{
    margin-top: 12px;
}
.username img
{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.spacing
{
    height: 60px;
}
.image img
{
    width: 100%;
}
.likes .row p
{
    margin-top: 5px;
}